---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found">
    <main
    class="max-w-4xl m-auto min-h-screen min-w-full grid place-content-center place-items-center bg-[#13151A] px-6 py-24 sm:py-32 lg:px-8"
  >
    <div class="text-center">
      <p class="text-4xl font-bold text-indigo-600">404</p>
      <h1
        class="text-white mt-4 text-3xl font-bold tracking-tight sm:text-5xl"
      >
        Page not found
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        Sorry, we couldn’t find the page you’re looking for.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href=".."
          class="rounded-md bg-gradient-to-r from-indigo-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 px-3.5 py-2.5 text-sm font-semibold text-center mr-2 mb-2 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >Go back home</a
        >
      </div>
    </div>
  </main>
</Layout>