---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import ListOfBooks from '../components/ListOfBooks.astro'
---

<Layout title='Books recommended by @abrahamgalue'>
  <main class='m-auto max-w-4xl mb-6'>
    <Title />
    <ListOfBooks />
  </main>
</Layout>
