<h1 
  class="text-white font-black uppercase text-5xl md:text-8xl text-center py-4 px-4"
  style="view-transition-name: book-title"
>
  Recommended
  <span
    class="block text-[33px] md:text-[66px] font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
    >books</span
  >
</h1>
